/* naviagtion */
#bar{
    flex-direction: column;
    height: 120px;
}
#bar li a{
    font-size: 0.9rem;
    font-size: 0.9rem;
    padding: 5px 10px;
}
#logo img{
    display: block;
    width: 80%;
    margin: auto;
}
/* home section  */
#home{
    height: 100vh;
    padding: 12px 15px;
    margin: 15% 5px;
}
#home h1{
    font-size: 1.4rem;
}
#home p{
    font-size: 1.1rem;
}
#home::before{
    height: 180%;
}
/* utilities  */
.primary{
    font-size: 1.4rem;
}
.btn{
    margin: 15px;
}
/* services section  */
.services-center{
    flex-flow: column wrap;
}
#services .box{
    width: 98%; 
}
#services h1{
    box-shadow: 3px 3px 3px white, -3px -3px 3px white,
    3px -3px 3px white ,-3px 3px 3px white;
}
#services{
    margin: 20px;
    position: relative;
}
/* client section  */
#client-section{
    overflow: hidden;
}
#clients{
    flex-direction: column;
    align-items: center; 
}
#client_sec::before{
    height: 180%;
}
.client-item{
    width: 38%;
}

/* contact us sec  */
#contactbox input, textarea{
    margin: 10px;;
    width: 80%;
    font-size: 1rem;
    float: right;
}
#contact::before{
    height: 75%;
}


